################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
parts = part
eggs-directory=../../eggs/cache
develop-eggs-directory=develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
url = ftp://alpha.gnu.org/pub/gnu/libidn/libidn-1.8.tar.gz
md5sum=ca6e25905c0778d42780a84029f83d1e

